.absolutebody 
{
    position:absolute;
    left:50%;
    margin-left:-340px; /* Total width is 680, this moves it left from exactly the center of the page*/
}



 li
{
    display:inline;
    padding:.4em; 
}

article
{
    position:absolute;
    top:4.5em;
}

aside
{
    position:absolute;
    top:4.5em;
    left:67%;
}

footer
{
    position:absolute;
    width:inherit;
    top:16.5em;
}